table, td, tr{
    border: 1px solid black;
}

h2 {
    text-align: center;
}

.input_text {
    text-align: center;
}

.botao {
    text-align: center;
}

.nome {
    width: 100%;
}

.alinhamento {
    display: flex;
    justify-content: center;
}